<!DOCTYPE html>
<head>
    <title>Python Program</title>
</head>
<body>
    <form action="/login" method="POST">
        <p> Enter your Name : </p>
        <p><input type="text" name="name"/></p>
        <p> Enter your Email : </p>
        <p><input type="text" name="email"/></p>
        <p> Enter your Phone : </p>
        <p><input type="text" name="phone"/></p>
        <p><input type="submit" value="submit"/></p>
    </form>
    <b>{{name}}</b><br>
    <b>{{email}}</b><br>
    <b>{{phone}}</b>
</body>
</html>